doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    nav.navbar.navbar-default.navbar-fixed-bottom
      ul.nav.navbar-nav.pull-right
        li
          a(href="https://twitter.com/wombleton") @wombleton
        li 
          a(href="http://dimpost.wordpress.com/2012/07/03/spin-the-wheel/") (inspired by)
